
/* cliente/index.php */
.fondo{
   background-image: url("../img/fondo5.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    background-attachment: fixed;
}
.titulo2{
  color: #3498DB;
  font-size: 28px;
  margin-bottom: 10px;
  font-family: Verdana;
}

#columna{
    background-color: #3498DB;
}

#fila{
   border-color: #3498DB;
  font-family: Verdana;
  font-size: 13px;
}

#botonDetalles{
  color: white;
  background-color: #1C9E24;
  border: 2px solid;
  border-radius: 10px;
  height: 35px;
  width: 75px;
  font-size: 13px;
  margin-right: 5px;
}

#botonDetalles:hover{
   color: #1C9E24;
   background-color:white;
}

#botonPdf{
  color: white;
  background-color: #E74C3C;
  border: 2px solid;
  border-radius: 10px;
  height: 35px;
  width: 75px;
  font-size: 13px;
  margin-right: 5px;
}

#botonPdf:hover{
   color: #E74C3C;
   background-color:white;
}

#botonEditar{
  color: white;
  background-color: #0d6efd;
  border: 2px solid;
  border-radius: 10px;
  height: 35px;
  width: 75px;
  font-size: 13px;
  margin-right: 5px;
}

#botonEditar:hover{
   color: #0d6efd;
   background-color:white;
}

#botonAltaProducto{
  color: white;
  background-color: #3498DB;
  border: 2px solid;
  border-radius: 10px;
  height: 38px;
  width: 95px;
  font-size: 15px;
}

#botonAltaProducto:hover{
   color: #3498DB;
   background-color:white;
}



/* cliente/compra.php */
.input-group { 
  width:10%;
  margin-bottom: 15px;
}

#imagenBorde{
  border: #3498DB 1px solid;
  border-radius: 10px;
}

.subtitulo{
  color: black;
  font-size: 18px;
}

#botonInsertar{
  color: white;
  background-color: #3498DB;
  border: 2px solid;
  border-radius: 10px;
  height: 45px;
  width: 150px;
  font-size: 15px;
}
#botonInsertar:hover{
   color: #3498DB;
   background-color:white;
}



/* cliente/micarrito.php */
#botonEliminar{
  color: white;
  background-color: #E74C3C;
  border: 2px solid;
  border-radius: 10px;
  height: 35px;
  width: 75px;
  font-size: 13px;
  margin-right: 5px;
}

#botonEliminar:hover{
   color: #E74C3C;
   background-color:white;
}

#botonComprar{
  color: white;
  background-color: #3498DB;
  border: 2px solid;
  border-radius: 10px;
  height: 35px;
  width: 75px;
  font-size: 13px;
  margin-right: 5px;
}
#botonComprar:hover{
   color: #3498DB;
   background-color:white;
}

#botonCancelar{
  color: white;
  background-color: #E74C3C;
  border: 2px solid;
  border-radius: 10px;
  height: 35px;
  width: 75px;
  font-size: 13px;
  margin-right: 5px;
}
#botonCancelar:hover{
   color: #E74C3C;
   background-color:white;
}


/* cliente/miperfil.php */

#botonActualizar{
  color: white;
  background-color: #3498DB;
  border: 2px solid;
  border-radius: 10px;
  height: 40px;
  width: 95px;
}

#botonActualizar:hover{
   color: #3498DB;
   background-color:white;
}


/* producto/gestionCompras.php */
#botonPdf{
  color: white;
  background-color: #E74C3C;
  border: 2px solid;
  border-radius: 10px;
  height: 35px;
  width: 75px;
  font-size: 13px;
  margin-right: 5px;
}

#botonPdf:hover{
   color: #E74C3C;
   background-color:white;
}
#botonAltaProducto{
  color: white;
  background-color: #3498DB;
  border: 2px solid;
  border-radius: 10px;
  height: 38px;
  width: 95px;
  font-size: 15px;
}

#botonAltaProducto:hover{
   color: #3498DB;
   background-color:white;
}


/* producto/index.php */
/* producto/nuevoProducto.php */


/* usuario/index.php */
/* usuario/nuevoUsuario.php */
